.App {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 8%;
  margin-bottom: 5%;
}

.App .App-header {
  margin: 25px;
  text-align: center;
}

.App .App-header i {
  margin: 10px;
  font-size: 60px;
}

.App .App-header h3 {
  font-size: 25px;
}

.App .App-header span {
  color: #a12568;
}

.App .App-footer {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.App .App-footer a {
  color: #a12568;
  text-decoration: none;
}
