.Meaning h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}

.Meaning .definition,
.Meaning .examples {
  font-size: 15px;
  font-weight: 350;
  margin-top: 2px;
  padding-bottom: 2px;
}

.Meaning .examples {
  color: #5c5b5ba8;
  font-style: italic;
}
