.Phonetic {
  font-size: 18px;
}

.Phonetic a {
  color: #212529;
  font-size: 22px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  text-decoration: none;
}
.Phonetic a:hover {
  color: #212529;
  font-size: 23px;
  transition: all 150ms ease-in-out;
}
