.Synonyms {
  margin: 15px auto;
  padding: 0;
}

.Synonyms li {
  color: #a12568;
  display: inline-block;
  font-size: 13px;
  font-weight: 450;
  line-height: 0.8;
  margin: 10px 0.5px;
  padding-right: 10px;
}
